<div class="modal-pet-backdrop is-hidden">
  <div class="modal-pet-window">
    <button class="modal-pet-close-btn" type="button" aria-label="Закрити">
      <svg class="modal-pet-close-icon" width="32" height="32">
        <use href="img/icons.svg#close"></use>
      </svg>
    </button>

    <div class="modal-pet-content">
      <div class="modal-pet-image-wrap">
        <img class="modal-pet-image" src="" alt="pet-image" loading="lazy" />
      </div>

      <div class="modal-pet-info">
        <p class="modal-pet-species"></p>
        <h2 class="modal-pet-name"></h2>
        
        <div class="modal-pet-meta">
          <span class="modal-pet-age"></span>
          <span class="modal-pet-gender"></span>
        </div>

        <h3 class="modal-pet-subtitle">Опис:</h3>
        <p class="modal-pet-desc"></p>

        <h3 class="modal-pet-subtitle">Здоров&#x2019;я:</h3>
        <p class="modal-pet-health"></p>

        <h3 class="modal-pet-subtitle modal-pet-subtitle-bold">Поведінка:</h3>
        <p class="modal-pet-behavior"></p>

        <button class="modal-pet-adopt-btn" type="button">
          Взяти додому
        </button>
      </div>
    </div>
  </div>
</div>
